.badge{
    height: 18px;
    width: 18px;
    background-color: #0066cc;;
    border-radius: 50%;
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    /* margin-bottom: 9px; */
    bottom: 15px;
    position: relative;
}

.icon{
    width: 18px;
    height: 18px;
}