api/omm/test-output/
api/imm/test-output/
api/wfm/test-output/
api/adapter-htp-forte/test-output/
api/adapter-lp24/test-output/
api/adapter-mp24/test-output/
api/mp96-nipt-dpcr-adpater/bin/
api/mp96-nipt-dpcr-adpater/.project
api/roche_lpcamel_adapter/target/
api/roche_camel_adapter/target/
api/roche_lpcamel_adapter/.settings/
api/mp96-nipt-dpcr-adpater/target/
api/roche_camel_adapter/.project
api/roche_camel_adapter/.classpath
api/roche_camel_adapter/.settings/
api/roche_lpcamel_adapter/.classpath
api/roche_lpcamel_adapter/.project
api/.project
api/.settings/
*.classpath
*.project
*.prefs
api/rmm/test-output/
