<app-admin-ui-header [headerInfo]="headerInfo"></app-admin-ui-header>
<div *ngIf="userVisited === 'NEW'" class="resetpassowrd-form-cont">
  <div class="resetpassowrd-form-grp">
    <form class="card-container" [formGroup]="resetForm">
      <mat-card class="resetpwd-container">
        <div class="resetname font-16 ">
          <span class="roboto-bold">{{"button.resetPassword" | translate}}</span>
        </div>
        <div class="formFields">
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align read-only font-14" hideRequiredMarker="true" #loginName>
            <mat-label class="roboto-regular font-14">{{"user.userName" | translate}}</mat-label>
            <input  [errorStateMatcher]="matcher" matInput placeholder="" formControlName="loginName" name="loginName"  type="text" autocomplete="off" [readonly]="true"  maxlength="23" appMinMax [parentField]="loginName">
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align font-14" hideRequiredMarker="true" #pwd>
            <mat-label class="roboto-regular font-14">{{"user.newPassword" | translate}}</mat-label>
            <input  [errorStateMatcher]="matcher" matInput appMinMax [parentField]="pwd" placeholder="" formControlName="password" name="password" type="password" autocomplete="off" maxlength="25" (focusout)="checkWithOldPassword()">
            <mat-error *ngIf="resetForm.get('password').invalid" >
                {{ getErrorType(resetForm.get('password').errors?.errorMsg) === 'string' ? resetForm.get('password').errors?.errorMsg : resetForm.get('password').errors?.errorMsg?.multipleRulesError}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align font-14" hideRequiredMarker="true" #cpwd>
              <mat-label class="roboto-regular font-14">{{"user.confirmPassword" | translate}}</mat-label>
              <input  [errorStateMatcher]="matcher" matInput appMinMax [parentField]="cpwd" placeholder="" formControlName="verifyPassword" name="verifyPassword" type="password" autocomplete="off" maxlength="25">
              <mat-error *ngIf="resetForm.get('verifyPassword').invalid">
                  {{ resetForm.get('verifyPassword').errors?.errorMsg  | translate}}
              </mat-error>
          </mat-form-field>
          <div class="form-control d-flex flex-justify-between flex-align-center width-full actionmenu">
            <!-- <a href="#" class="font-14 forgetPassword roboto-bold">Forgot Password?</a> -->
            <button mat-button mat-raised-button color="primary" class="roboto-bold no-shadow resetpwd-btn" (click)="resetPwdWithoutAuth(resetForm)" [disabled]="resetForm.invalid">
              {{ "button.resetPassword" | translate }}
            </button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
  <div class="resetpassowrd-form-tool-tip">
      <app-tool-tip [errorMsgArr]="resetForm.get('password').errors?.errorMsg?.multipleRulesErrorArr"></app-tool-tip>
  </div>
</div>
<div *ngIf="userVisited === 'VISITED'" class="no-pwd">
  <h2 class="roboto-regular"> Password has already been reset. Please login with new password. </h2>
</div>