  .procStep-card {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .step-header {
      display: flex;
      height: 64px;
      padding: 0 20px;
      align-items: center;
  }
  .step-header img {
      margin-right: 16px;
  }
  
  .padding-20 {
      padding: 20px;
  }
  
  .text-color {
      color: #333333;
  }
  
  .bg-step-analysis {
      background-color: rgba(0, 102, 204, 0.15);
  }

  .mb-20{
    margin-bottom: 20px;
  }

  .progressbar{
    height: 2px;
  }

  .status-text-blue{
    color:#0066cc;
  }

  .text-color-secondary{
      color:#191919;
      text-align: right;
  }

  .text-align{
      text-align: center;
  }