<app-admin-ui-header [headerInfo]="headerInfo"></app-admin-ui-header>
<div class="changepassowrd-form-cont">
  <div class="changepassowrd-form-grp">
    <form class="card-container" [formGroup]="resetForm">
      <mat-card class="changepwd-container">
        <div class="changename font-16">
            <span class="roboto-bold" >{{"button.changePassword" | translate}}</span>
        </div>
        <div class="formFields">
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align read-only font-14" hideRequiredMarker="true" #loginName>
            <mat-label class="roboto-regular font-14">{{"user.userName" | translate}}</mat-label>
            <input  [errorStateMatcher]="matcher" matInput placeholder="" formControlName="loginName" name="loginName"  type="text" autocomplete="off" [readonly]="true"  maxlength="23" appMinMax [parentField]="loginName">
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align font-14" hideRequiredMarker="true" #oldPwd>
            <mat-label class="roboto-regular font-14">{{"user.oldPassword" | translate}}</mat-label>
            <input  [errorStateMatcher]="matcher" matInput appMinMax [parentField]="oldPwd" placeholder="" formControlName="oldPassword" name="oldPassword" type="password" autocomplete="off" maxlength="25">
            <mat-error *ngIf="resetForm.get('oldPassword').invalid" >
                {{ resetForm.get('oldPassword').errors?.errorMsg  | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align font-14" hideRequiredMarker="true" #pwd>
            <mat-label class="roboto-regular font-14">{{"user.newPassword" | translate}}</mat-label>
            <input  [errorStateMatcher]="matcher" matInput appMinMax [parentField]="pwd" placeholder="" formControlName="password" name="password" type="password" autocomplete="off" maxlength="25">
            <mat-error *ngIf="resetForm.get('password').invalid" >
                {{ getErrorType(resetForm.get('password').errors?.errorMsg) === 'string' ? resetForm.get('password').errors?.errorMsg : resetForm.get('password').errors?.errorMsg?.multipleRulesError}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-full roboto-regular field-align font-14" hideRequiredMarker="true" #cpwd>
              <mat-label class="roboto-regular font-14">{{"user.confirmPassword" | translate}}</mat-label>
              <input  [errorStateMatcher]="matcher" matInput appMinMax [parentField]="cpwd" placeholder="" formControlName="verifyPassword" name="verifyPassword" type="password" autocomplete="off" maxlength="25">
              <mat-error *ngIf="resetForm.get('verifyPassword').invalid">
                  {{ resetForm.get('verifyPassword').errors?.errorMsg | translate}}
              </mat-error>
          </mat-form-field>
        </div>
        <div class="form-control d-flex flex-justify-between flex-align-center width-full actionmenu">
          <button mat-button mat-raised-button color="primary" class="roboto-bold no-shadow" (click)="validateUserAndChangePwd()" >
            {{ "button.changePassword" | translate }}
          </button>
          <button mat-button mat-primary color="primary" class="font-14 roboto-bold backButton" (click)="onBackBtn()">
            {{ "button.back" | translate }}
          </button>
        </div>
      </mat-card>
    </form>
  </div>
  <div class="changepassowrd-form-tool-tip">
      <app-tool-tip [errorMsgArr]="resetForm.get('password').errors?.errorMsg?.multipleRulesErrorArr"></app-tool-tip>
  </div>
</div>