.changepwd-container{
    width: 87.5%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 0px !important;
    margin-top: 82px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)!important;
}
.changename{
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 16px;
}
.changename span{
    color: #191919;
}
.formFields{
    margin-left: 20px;
}
.mt-2{
    margin-top: 2px;
}
a{
    text-decoration: none;
}
.forgetPassword{
    margin: 0.2em .9em 0;
    color: #004EA3;
}
.backButton{
    margin-left: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 0px !important;
}
.field-align{
    padding-bottom: 22px;
}
.actionmenu{
    display: flex;
    flex-direction: row-reverse;
}

.changepassowrd-form-cont {
    display: flex;
    vertical-align: top;
    width: 100%;
    justify-content: center;
}

.changepassowrd-form-grp {
    display: inline-block;
    width: 27%;
    margin-left: 33.8%;
}

.changepassowrd-form-tool-tip {
    position: relative;
    width: 36%;
    height: auto;
    clear: both;
    margin-top: 16rem;
    margin-left: -1.9%;
    z-index: 1;
}
