.header-logo{
    height:27px !important;
    padding-bottom: 5px;
}
.header-mat-toolbar{
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    padding-left: 10px;
    padding-right: 20px;
}
.headerIcons{
    margin-right: 0.8em;
}
.header-info{
    display: flex;
    align-items: center;
    color: #191919 !important;
}
.header-info *{
    padding: 10px;
}
.header-info-right div.iconsDetails{
    padding-right:20px;
}

.header-info-right div.iconsDetails:last-child {
    padding-right: 0px;
}


.header-info-right div.iconsDetails img{
    vertical-align: middle;
}

.headername {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo{
    padding-right: 0px !important;
}
.closebutton{
    cursor: pointer;
    height: 18px;
}
.backbutton{
    cursor: pointer;
    height: 18px;
}
.changePassword{
    margin: 0px 20px 20px 20px;
}
.apps{
    padding: 0px !important;
    cursor: pointer;
    height:21px;
    width:21px;
}
.pipesym{
    width:2px;
    height: 10px;
    background-color: #191919;
    padding: 0px !important;
    margin: 10px;
}
mat-card-content span{
    font-family: Roboto-bold;
}

mat-card-content div{
    cursor: pointer;
}
.back-button{
    cursor: pointer;
}
.change-password-btn {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.no-padding {
    padding: 0 !important;
}

.pt-6 {
    padding-top: 6px;
}

.pt-15 {
    padding-top: 15px !important;
}

.btn-color {
    color: #004ea3;
}

.display-in {
    display: inline;
}
.header-name {
    padding-right: 0px !important;
}

.header-currentPage {
    padding-left: 0px !important;
}

.badge {
    position: absolute;
    left: 11px;
    top: 4px;
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 50px;
}

.badgeError{
    background-color: #cc0033;
}

.badgeWarning{
    background-color: #ffc414;
    color: #191919;
}

.pointer {
    cursor: pointer;
}

.flex-column {
    flex-direction: column;
}

.userProfile {
    padding: 0 10px;
}

.useractions {
    width: 100%;
}

.userProfile .userName{
    margin-top: 4px;
  }
  
  .userProfile .userRole {
      margin-top: 12px;
  }

.manageProfile {
  min-width : 195px;
  padding : 8.5px 0;
}

.useractions {
    border-top: 1px solid #d3d3d3;
    margin-top: 10px;
}

.useractions div:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.count {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 3px rgba(0,0,0,.16);
}