.header-mat-toolbar{
    background-color: #fff;
    width: 100%;
    height:54px;
    padding:9px 0px 9px 0px;
    display: flex;
    margin-top: 20px;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.16);
    font-size: 14px;
    font-family: "roboto-bold" !important;
}
.order-info{
    padding-top:12px;
    padding-bottom: 12px;
    margin:0 auto;
    color: #191919;
}
.prev_btn{
    margin-left:20px;
    width:170px;
    height: 36px;
    color: #191919;
}
.next_btn{
    margin-right:20px;
    width:170px;
    height: 36px;
    color: #191919;
}