<ng-container *ngIf='isNotMaterialTooltip'>
    <span *ngIf="(!tooltipValue) || (tooltipValue && tooltipValue.length < dataLength)">
        {{data ? data : "-"}}
    </span>
    <span class="show-ellipsis" *ngIf="tooltipValue && tooltipValue.length >= dataLength && position.placement === 'bottom'"
        [tooltip]="tooltipValue" placement='bottom' hide-delay='0' animation-duration='0' tooltip-class='ng-tooltip-custom'>
        {{ data }}
    </span>
    <span class="show-ellipsis" *ngIf="tooltipValue && tooltipValue.length >= dataLength  && position.placement === 'top'" [tooltip]="tooltipValue"
        hide-delay='0' animation-duration='0' tooltip-class='ng-tooltip-custom'>
        {{ data }}
    </span>
</ng-container>
<ng-container *ngIf='!isNotMaterialTooltip'>
    <span *ngIf="(!tooltipValue) || (tooltipValue && tooltipValue.length < dataLength)">
        {{data ? data : "-"}}
    </span>
    <span class="show-ellipsis" *ngIf="tooltipValue && tooltipValue.length >= dataLength" [matTooltip]="tooltipValue" [matTooltipClass]="displayFull ? 'tool-full' : null">
        {{data}}
    </span>
</ng-container>