.forgotpwd-container{
    width: 24%;
    margin: auto;
    padding-top: 37px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 82px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)!important;
}
.forgotname{
    padding: 8px;
    padding-bottom: 10px;
}
.forgotname span{
    color: #191919;
}
.formFields{
    margin-top: 1.878em;
}
.mt-2{
    margin-top: 2px;
}
a{
    text-decoration: none;
}
.backtologon{
    margin-left: 10px;
}
.forgetPassword{
    margin: 0.2em .9em 0;
    color: #004EA3;
}

.forgotpwd-btn{
    padding: 0px 12px;
    background-color: #004EA3;
}
.field-align{
    padding-bottom: 22px;
}
.actionmenu{
    display: flex;
    flex-direction: row-reverse;
}

.font-color {
    color: #004ea3;
}
