<app-admin-ui-header [headerInfo]="headerInfo"></app-admin-ui-header>
<form class="card-container" [formGroup]="forgotForm">
  <mat-card class="forgotpwd-container">
    <div class="forgotname font-24 text-center ">
      <span class="forgotname roboto-regular">{{"user.forgotPassword" | translate}}</span>
    </div>
    <div class="formFields">
      <mat-form-field appearance="fill" class="width-full roboto-regular field-align font-14" hideRequiredMarker="true" #loginName>
        <mat-label class="roboto-regular font-14">{{"user.forgotuserName" | translate}}</mat-label>
        <input  [errorStateMatcher]="matcher" matInput placeholder="" formControlName="loginName" name="loginName"  type="text" autocomplete="off"  maxlength="20" appMinMax [parentField]="loginName">
        <mat-error *ngIf="forgotForm.get('loginName').invalid" >
            {{ forgotForm.get('loginName').errors?.errorMsg }}
        </mat-error>
      </mat-form-field>
      <div class="form-control d-flex flex-justify-between flex-align-center width-full actionmenu">
          <button mat-button mat-raised-button color="primary" class="roboto-bold no-shadow forgotpwd-btn" (click)="checkUserNameExist()" [disabled]="forgotForm.invalid">
              {{ "button.send" | translate }}
            </button>
            <button mat-button mat-primary color="primary" class="font-14 roboto-bold link-btn" (click)="onBackBtn()">
              {{ "button.backtologon" | translate }}
            </button>
      </div>
    </div>
  </mat-card>
</form>