.file-container{
    padding: 2em;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1.7em;
    padding-top: 1.7em;
}

.file-error-box{
    border: 0.15em dashed #CC0033; 
    padding: 0.6em;
}

.file-error-container{
    text-align: center
}

.header-error{
    padding-bottom: 1em;
    color: red;
}

.file-retry-btn{
    padding: 0.5em;
    padding-top: 0.9em;
    font-size: 14px;
}

.error-container{
    display: flex;
    flex-direction: column;
}

.error-container label{
    font-size: 14px;
    padding: 0.3em;
    color: #191919;
}

.error-header{
    font-size: 0.9em;
    color: #CC0033 !important;
}

.v-align{
    vertical-align: middle;
}