.rsr-login {
    padding: 20px 20px 8px 0px;
    margin: 20px auto;
    width: 336px;
    background-color: white;
    margin-top: 11.1%;
}
.pd-lft{
    padding-left: 20px;
}
.mrg-lft-10{
    margin-left: 10px;
}
.formFields{
    margin-top: 20px;
}
.info {
    padding-bottom: 20px;
}
.rsr-name{
    margin-top: 10px;
}
input {
    height: 25px;
}
.mt-20{
    margin-top: 20px;
}