<!-- <app-admin-ui-header class="no-shadow" [headerInfo]="headerInfo"></app-admin-ui-header> -->
<div class="slideBtmTopCls">
  <div class="header">
    <mat-toolbar class="header-mat-toolbar">
        <div class="header-info">   
          <img *ngIf="headerInfo.isBackRequired" height="18" src="assets/Images/close.png" alt="close" class="back-button" (click)="goBack()">
          <img *ngIf="headerInfo.headerIcon" [src]="headerInfo.headerIcon" [alt]="headerInfo?.curPage"  class="header-icon">
          <!-- <span [class.roboto-bold]="headerInfo.isBackRequired" class="font-18" >{{"header.settings" | translate}}</span>  
          <span>|</span> -->
          <span class="roboto-regular font-18">
           {{(currPage === 'add' ? "deviceMgmt.addDev" : "deviceMgmt.editDev") | translate}}
          </span>
        </div>
      </mat-toolbar>
    </div>
  
  <div class="header">
          <div class="card-box" style="background: #FFFFFF;margin-bottom: 20px !important; width: 83.1625%; margin: 5.25em auto 0;">
  
          <!-- <div style="text-align: left;padding: 1.04em;padding-left: 20px;">
            <label class="roboto-bold card-title"> {{ selectedDeviceType.name }}</label>
          </div> -->
  
          <div class ="card-header-container pb-0">
            <img src="assets/Images/device-grey.svg" alt="Image" class="card-header-icon">
            <div class="card-header-title-container">
              <div class="card-header-title1">{{"header.addDevice" | translate}}</div>
               <div class="card-header-title2">{{ selectedDeviceType.name }}</div>
            </div>
        </div>
  
  
          <div style="padding: 20px">
            <!-- <app-form-generator #formGen [dyForm]="regDevFormMock" [formName]="addDevForm" [caller]="self"></app-form-generator> -->
            <form [formGroup]="regDeviceForm">
              <mat-grid-list cols="2" rowHeight="73px" gutterSize="20px">
                    
                <mat-grid-tile colspan="1" rowspan="1"  *ngIf="deviceTypeConfig.indexOf('serialNo') > -1">
                  <mat-form-field #serialNo appearance="fill" 
                                  class="width-full roboto-regular font-14"
                                  [class.read-only]="fieldDisabled">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.devSlNo' | translate}}
                    </mat-label>
                    <input matInput placeholder="" appMinMax
                          formControlName="serialNo" name="serialNo" id="serialNo"
                          required="required" autocomplete="off" maxlength="64"
                          [readonly]="fieldDisabled" [parentField]="serialNo"
                          (blur)="duplicateDeviceDetails('serialNo');validateName();">
                    <mat-error *ngIf="regDeviceForm.get('serialNo').invalid">
                      {{ regDeviceForm.get('serialNo').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #name appearance="fill" 
                                  class="width-full roboto-regular font-14"
                                  [class.read-only]="isDeviceInProgress || regDeviceForm.controls.state.value === 'INACTIVE' || isTTv2Device">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.devName' | translate}}
                    </mat-label>
                    <input matInput placeholder="" appMinMax
                          formControlName="name" name="name" id="name" 
                          required="required" autocomplete="off" maxlength="64" 
                          [parentField]="name" [readonly]="isDeviceInProgress || regDeviceForm.controls.state.value === 'INACTIVE' || isTTv2Device"
                          
                          (blur)="checkFormData()">
                    <mat-error *ngIf="regDeviceForm.get('name').invalid">
                      {{ regDeviceForm.get('name').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile *ngIf="deviceTypeConfig.indexOf('outputDirectory') > -1" appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #outputDirectory appearance="fill" 
                                  class="width-full roboto-regular font-14" [class.read-only]="regDeviceForm.controls.outputDirectory.value === 'INACTIVE'">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.outputDir' | translate}}
                    </mat-label>
                    <input #outputDir  matInput placeholder="" appTrim appMinMax
                            formControlName="outputDirectory" name="outputDirectory" id="outputDirectory"
                            autocomplete="off" (blur)="validateOutputDirOnServer(outputDir.value)" maxlength="64" [parentField]="outputDirectory" [readonly]="regDeviceForm.controls.outputDirectory.value === 'INACTIVE'" required="required">
                    <mat-error *ngIf="regDeviceForm.get('outputDirectory').invalid">
                      {{ regDeviceForm.get('outputDirectory').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
  
                  
                <mat-grid-tile *ngIf="deviceTypeConfig.indexOf('url') > -1" appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #url appearance="fill" 
                    class="width-full roboto-regular font-14"
                    *ngIf="deviceTypeConfig.indexOf('url') > -1">
                      <mat-label class="roboto-regular">
                        {{'deviceMgmt.url' | translate}}
                      </mat-label>
                      <input matInput placeholder=""
                            formControlName="url" name="url" id="url"
                            required="required" autocomplete="off">
                      <mat-error *ngIf="regDeviceForm.get('url').invalid">
                        {{ regDeviceForm.get('url').errors.errorCode | translate }}.
                      </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile *ngIf="deviceTypeConfig.indexOf('location') > -1" appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #location appearance="fill" 
                                  class="width-full roboto-regular font-14" [class.read-only]="regDeviceForm.controls.state.value === 'INACTIVE'">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.location' | translate }} 
                    </mat-label>
                    <input  matInput placeholder="" appTrim appMinMax
                            formControlName="location" name="location" id="location"
                            autocomplete="off" maxlength="64" [parentField]="location" [readonly]="regDeviceForm.controls.state.value === 'INACTIVE'" [required]="(selectedDeviceType?.name === qiaSymphony) ? 'required' : false">
                    <mat-error *ngIf="regDeviceForm.get('location').invalid">
                      {{ regDeviceForm.get('location').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
  
                <!-- <mat-grid-tile>
                  <mat-form-field appearance="fill" class="width-full roboto-regular font-14"
                  [class.read-only]="fieldDisabled">
                    <mat-label>
                      {{'deviceMgmt.devType' | translate}}
                    </mat-label>
                        <mat-select placeholder="" 
                                    formControlName="deviceType" name="deviceType" id="deviceType"
                                    required="required" 
                                    [class.read-only]="fieldDisabled" [disabled]="fieldDisabled"
                                    (selectionChange)="onDeviceTypeChange($event)">
                            <mat-option *ngFor="let option of deviceTypeList" [value]="option.deviceTypeId" selected="deviceType">{{option.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="regDeviceForm.get('deviceType').invalid">
                          {{ regDeviceForm.get('deviceType').errors.errorCode | translate }}.
                        </mat-error>
                  </mat-form-field>
                </mat-grid-tile> -->
  
                <mat-grid-tile *ngIf="deviceTypeConfig.indexOf('clientId') > -1" appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #clientId appearance="fill" 
                                  class="width-full roboto-regular font-14" [class.read-only]="!isAuthRequired">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.clientId' | translate}}
                    </mat-label>
                    <input  matInput placeholder="" appMinMax
                            formControlName="clientId" name="clientId" id="clientId"
                            autocomplete="off" maxlength="24" style="text-transform:lowercase" [parentField]="clientId" [readonly]="!isAuthRequired" [required]="isAuthRequired" (blur)="onCheckingClientIDduplication(clientId)">
                    <mat-error *ngIf="regDeviceForm.get('clientId').invalid">
                      {{ regDeviceForm.get('clientId').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile *ngIf="deviceTypeConfig.indexOf('password') > -1" appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #password appearance="fill" 
                                  class="width-full roboto-regular font-14" [class.read-only]="!isAuthRequired">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.password' | translate}}
                    </mat-label>
                    <input type="password" matInput placeholder="" appMinMax
                            formControlName="password" name="password" id="password"
                            autocomplete="off" maxlength="24" [parentField]="password" [readonly]="!isAuthRequired" [required]="isAuthRequired">
                    <mat-error *ngIf="regDeviceForm.get('password').invalid">
                      {{ regDeviceForm.get('password').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
  
                <!-- fsvgdfbdfgbxcvbcvbncvbdfbcvbncfbdf<mat-grid-tile *ngIf="regDeviceForm." class="card-checkbox" appearance="fill" colspan="1" rowspan="1">
                  <div class="roboto-regular" >
                    <div class="font-14 card-cb-label">
                      {{'deviceMgmt.protocol' | translate}} <sup>*</sup>
                    </div>
                    <div>
                      <ng-container *ngFor="let option of protocols; let ind = index;">
                              <mat-checkbox color="primary" 
                                          formArrayName="protocol" 
                                          [value]="option"
                                          [checked]="onDefaultChecking(option)"
                                          [disabled]="true"
                                          >
                                <span class="font-14 roboto-regular" style="padding-right: 10px;">
                                  {{option}}
                                </span>
                                
                            </mat-checkbox>
                      </ng-container>
                    </div>
                  </div>
                </mat-grid-tile> -->
  
                <!-- <mat-grid-tile appearance="fill" colspan="1" rowspan="1">
                  <mat-form-field #protocolVersion appearance="fill" 
                                  class="width-full roboto-regular font-14 read-only">
                    <mat-label class="roboto-regular">
                      {{'deviceMgmt.protocolVersion' | translate}}
                    </mat-label>
                    <input  matInput placeholder="" appMinMax
                            formControlName="protocolVersion" name="protocolVersion" id="protocolVersion"  
                            autocomplete="off" maxlength="64" 
                            [parentField]="protocolVersion" [readonly]="true">
                    <mat-error *ngIf="regDeviceForm.get('protocolVersion').invalid">
                      {{ regDeviceForm.get('protocolVersion').errors.errorCode | translate }}.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile> -->
  
                <!-- <mat-grid-tile class="card-checkbox" colspan="1" rowspan="2">
                  <div class="img-align">
                    <img src="../../../assets/Images/userIcon.png" alt="Image" height="40" class="img-left-align">
                    <button mat-raised-button color="primary" class="roboto-bold font-14">Upload Picture</button>
                  </div>
                </mat-grid-tile> -->
  
                <!-- <mat-grid-tile class="card-checkbox" appearance="fill" colspan="1" rowspan="1">
                  <div style="display: flex;flex-direction: column;">
                    <div class="img-align">
                      <img [attr.src]="devIcon" alt="Image" height="40" class="img-left-align">
                      <button mat-raised-button color="primary" class="roboto-bold font-14" (click)="onSelectIcon(uploadFile)">Upload Picture</button>
                      <input type='file' accept=".png" hidden #uploadFile (change)="onFileUpload($event)"/>
                    </div>
                    <div>
                      <label class="roboto-regular font-14">Should be less than 2MB</label>
                    </div>
                  </div>
                </mat-grid-tile> -->
  
              </mat-grid-list> 
              
              <mat-form-field #clientCertificate appearance="fill"  *ngIf="deviceTypeConfig.indexOf('clientCertificate') > -1" class="width-full roboto-regular font-14 mt-16">
                  <mat-label class="roboto-regular">
                    {{'deviceMgmt.clientCertificate' | translate}}
                  </mat-label>
                  <textarea appTrim matInput placeholder="" 
                            name="clientCertificate" id="clientCertificate" formControlName="clientCertificate" 
                            rows="4" required="required" autocomplete="off">
                  </textarea>
                  <mat-error *ngIf="regDeviceForm.get('clientCertificate').invalid">
                    {{ regDeviceForm.get('clientCertificate').errors.errorCode | translate }}.
                  </mat-error>
                </mat-form-field>
              
              <mat-form-field #JWTCertificate appearance="fill"  *ngIf="deviceTypeConfig.indexOf('jwtCertificate') > -1" class="width-full roboto-regular font-14 mt-16">
                <mat-label class="roboto-regular h-18">
                  {{'deviceMgmt.JWTCertificate' | translate}}
                </mat-label>
                <textarea appTrim matInput placeholder="" 
                          name="JWTCertificate" id="JWTCertificate" formControlName="JWTCertificate" 
                          rows="4" required="required" autocomplete="off">
                </textarea>
                <mat-error *ngIf="regDeviceForm.get('JWTCertificate').invalid">
                  {{ regDeviceForm.get('JWTCertificate').errors.errorCode | translate }}.
                </mat-error>
              </mat-form-field>
              <mat-form-field #sshCertificate appearance="fill"  *ngIf="deviceTypeConfig.indexOf('sshCertificate') > -1" class="width-full roboto-regular font-14 mt-16">
                <mat-label class="roboto-regular">
                  {{'deviceMgmt.sshCertificate' | translate}}
                </mat-label>
                <textarea appTrim matInput placeholder="" 
                          name="sshCertificate" id="sshCertificate" formControlName="sshCertificate" 
                          rows="4" required="required" autocomplete="off">
                </textarea>
                <mat-error *ngIf="regDeviceForm.get('sshCertificate').invalid">
                  {{ regDeviceForm.get('sshCertificate').errors.errorCode | translate }}.
                </mat-error>
              </mat-form-field>

              
              <mat-form-field #ttv2OutputDirectory appearance="fill" *ngIf="deviceTypeConfig.indexOf('ttv2OutputDirectory') > -1"
              class="width-full roboto-regular font-14 mt-16" [class.read-only]="regDeviceForm.controls.ttv2OutputDirectory.value === 'INACTIVE'">
                <mat-label class="roboto-regular">
                  {{'deviceMgmt.ttv2OutputDirectory' | translate}}
                </mat-label>
                <input #outputDir  matInput placeholder="" appTrim appMinMax
                        formControlName="ttv2OutputDirectory" name="ttv2OutputDirectory" id="ttv2OutputDirectory"
                        autocomplete="off" maxlength="64" [parentField]="ttv2OutputDirectory" [readonly]="regDeviceForm.controls.ttv2OutputDirectory.value === 'INACTIVE'" required="required">
                <mat-error *ngIf="regDeviceForm.get('ttv2OutputDirectory').invalid">
                  {{ regDeviceForm.get('ttv2OutputDirectory').errors.errorCode | translate }}.
                </mat-error>
              </mat-form-field>
  
            </form>
          </div>
  
          <hr class="card-sp">
  
          <div class="fm-btn-place" style="padding-right: 20px;">
            <button *ngIf="deviceTypeConfig.indexOf('outputDirectory') === -1" mat-raised-button color="primary" 
                    class="roboto-bold font-14 btn-bg-color no-shadow" 
                    [disabled]="!regDeviceForm.valid || regDeviceForm.get('state').value === 'INACTIVE'" 
                    (click)="addDevice()">
                    {{'deviceMgmt.addDev' | translate}}
            </button>
            <button *ngIf="deviceTypeConfig.indexOf('outputDirectory') > -1" mat-raised-button color="primary" 
                    class="roboto-bold font-14 btn-bg-color no-shadow" 
                    [disabled]="!regDeviceForm.valid || regDeviceForm.get('state').value === 'INACTIVE'" 
                    (click)="addIlluminaDevice()">
                    {{'deviceMgmt.addDev' | translate}}
            </button>
            <a *ngIf="currPage === 'edit' && regDeviceForm.get('state').value !== 'INACTIVE'"
                    class="edit-details roboto-bold font-14" 
                    (click)="removeDevice()">
                    {{'deviceMgmt.archive' | translate}}
            </a>
            <a *ngIf="currPage === 'edit' && regDeviceForm.get('state').value === 'INACTIVE'" 
                    class="edit-details roboto-bold font-14" 
                    (click)="unarchiveDevice()">
                    {{'deviceMgmt.unArchive' | translate}}
            </a>
          </div>
        </div>
  </div>
  </div>