.content-text {
    color: #191919 !important;
  }
  
  .ml-5 {
      margin-left: 5px;
  }

  .mr-5 {
      margin-right: 5px;
  }

  .button-row {
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    margin-top: 50px;
  }