.workflow-accordion-container-new {
  width: 84%;
  margin: 0 auto;
  margin-top: 1.25em;
  padding-bottom: 5.25em;
}

.sample-run-btn {
  background-image: url('../../../../assets/Images/goto.png');
  width: 17px;
  height: 17px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-10{
  padding-left: 10px
}

.acc-panel-header {
  padding: 12px 20px;
}

.padding-0 {
  padding-top: 0px !important;
}


.acc-panel-body {
  margin: 29px auto auto;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
}

.mat-expansion-panel-header-title {
  margin: 0px !important;
}

.height-36 {
  height: 36px !important;
}