.plate-container{
    width: 97%;
    margin: 4.9em auto 0;
    font-family: "roboto-regular" !important;
    padding-bottom: 4.12em;
}

.mapped-container{
    margin-top: 0.8em;
}

.m-bottom{
    margin-bottom: 4em;
}